.sidebar-left {
    background-color: #040622;
    height: 100%;
    /* border-bottom-right-radius: 30px; */
}
.sidebar-top {
    background-color: #040622;
    
    /* border-top-right-radius: 30px; */
}
.list-item {
    color: gray;
}

.list-item:first-of-type {
    color: white;
    border-left: 3px solid white;
}

.item-active {
    color: white;
}

.menu-icon {
    color: gray;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.logo-icon {
    color: #5992FF;
}

.logo-text {
    color: #5992FF;
    font-size: 12px !important;
    padding-top: 10px;
}